.LoginForm {
	height: 90vh;
	/* put around the vertical center of page */
	background: url("../../images/homepage.jpg") top left;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.login-form {
	margin-top: 30px;
	padding: 30px;
	margin-top: 30px;
	padding: 30px;
	backdrop-filter: blur(21px) saturate(200%);
	-webkit-backdrop-filter: blur(21px) saturate(200%);
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 15px;
	border: 1px solid rgba(209, 213, 219, 0.3);
}

.login-form input {
	border-radius: 4px;
	padding: 10px 10px;
	font-size: 14px;
}

.login-form input:focus {
	box-shadow: none;
	border-color: #00c3ff;
}

.test-credentials p {
	margin: 0;
	font-size: 0.9rem;
}
