.register-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.register-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}

.register-form input:focus {
  box-shadow: none;
  border-color: #00c3ff;
}

.btn-primary:hover {
  background-color: #00c3ff;
}
