html,
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.UserDashboard ol,
.UserProfile ol,
.ExerciseDetails ol {
  backdrop-filter: blur(21px) saturate(200%);
  -webkit-backdrop-filter: blur(21px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  padding-left: 1em;
  padding-right: 1em;
}

.btn-primary:hover {
  box-shadow: 0 0 5px #469fdf;
}

.PostList,
.ExerciseList,
.RoutineList,
.LogList {
  margin-bottom: 10em;
}
