.entry {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.entry:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.37);
}

.entry-title {
  font-size: 28px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0 0 20px 0;
  color: #556270;
  transition: 0.3s;
}

.entry-title:hover {
  color: #00c3ff;
}

.entry-meta {
  color: #838383;
}
.entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.forum .entry .entry-meta li {
  margin-right: 2px;
}

.forum .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
