.RoutineView {
  position: relative;
}

.icon:hover {
  cursor: pointer;
}

.routine-user {
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0 0 0;
  margin: 0 0 0 0;
}

hr {
  border-top: 10px solid #bbb;
  border-radius: 5px;
}
