#footer {
  background: #30373f;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

.footer-top {
  background: #4e5257;
  padding: 30px 0 10px 0;
}

.footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

.footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #00c3ff;
  color: #fff;
  text-decoration: none;
}

.footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul i {
  padding-right: 5px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  line-height: 1;
}

.footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer-links ul li:first-child {
  padding-top: 0;
}

.footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

.footer-links ul a:hover {
  color: #00c3ff;
}

.copyright {
  font-family: "Raleway", sans-serif;
}
