.UserDashboard,
.UserProfile {
  /* put around the vertical center of page */
  background: url("../../images/homepage.jpg") top left;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.panel {
  margin-top: 30px;
  padding: 30px;
  margin-top: 30px;
  padding: 30px;
  backdrop-filter: blur(21px) saturate(200%);
  -webkit-backdrop-filter: blur(21px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.UserProfile ul li {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}
.UserProfile ul li:hover {
  background-color: #00c3ff;
}

.dashboard-title {
  font-size: 2em;
  padding: 0;
  margin: 0 0 20px 0;
}
